
<link rel="stylesheet" href="~/css/GraphicsStyle.css" />

<body>
<div class="card">
    <h3>Количество тренировок по каждому виду</h3>
</div>

<table>
    <tr>
        <th>Вид тренировки</th>
        <th>Количество тренировок</th>
    </tr>

    @if (ViewBag.TrainingTypes is not null)
    {
        @foreach (var i in ViewBag.TrainingTypes as Dictionary<string, int>)
        {
            <tr>
                <td>@i.Key</td>
                <td>@i.Value</td>
            </tr>
        }
    }
</table>

<div id="chart" ></div>

</body>

@if (ViewBag.TrainingTypes is not null)
{
    @section Scripts
    {
        <script>
        var temp1 = '@ViewBag.dataj';
        var datass = JSON.parse(temp1)
        </script>
        
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
            <script type="text/javascript"> 
              // Load the Visualization API and the corechart package.
              google.charts.load('current', {'packages':['corechart']});
        
              // Set a callback to run when the Google Visualization API is loaded.
              google.charts.setOnLoadCallback(drawChart);
        
              // Callback that creates and populates a data table,
              // instantiates the pie chart, passes in the data and
              // draws it.
          function drawChart() {
    
          var data = new google.visualization.DataTable();
                         data.addColumn('string', 'Training');
                           data.addColumn('number', 'Count');
                           data.addRows(datass);
               
                  var options = {
                    title : 'Количество тренировок по каждому виду',
                    vAxis: {title: 'Кол-во тренировок'},
                    hAxis: {title: 'Тип тренировки'},
                    seriesType: 'bars',
                    series: {5: {type: 'line'}},
                    height: 500
                  };

            // Instantiate and draw our chart, passing in some options.
             var chart = new google.visualization.PieChart(document.getElementById('chart'));
                   chart.draw(data, options);
          }
        </script>
    }
}