body {
	background: -webkit-linear-gradient(220deg, #490808,#fffdbd,#a8ffff)
}

.content {
	width: auto;
	height: auto;
	background: #82660052;
	box-shadow: 0 5px 10px #ccc;
	border-radius: 10px;
	margin: 150px 300px 20px 300px;
	padding: 10px;
}

.custom_text {
	width: 100%;
	height: 150px;
	font: Georgia;
	font-size: 18px;
	box-shadow: 0 5px 10px #ccc;
	border-radius: 12px;
	margin: 10px 0px 10px 0px;
	resize: none;
}

.card-title {
	font: Georgia;
	font-size: 28px;
	text-align: center;
	width: auto;
	height: auto;
}

.card {
	transition: 0.2s linear;
	width: auto;
	height: auto;
	border-radius: 15px;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.7);
	color: rgb(0, 0, 0);
	margin: 10px 20px 0px 20px;
	padding: 1px;
	box-shadow: 0 5px 10px #000000;
}

.card:hover {
	transform: scale(1.05);
}

.test-div {
	width: auto;
	height: auto;
	margin: 10px 20px 0px 20px;
}

.custom_button {
	box-shadow: 1px 1px 3px #888888;
	transition: 0.1s linear;
	border-radius: 15px;
	border-color: rgba(43,44,45,0.4);
	margin: auto;
	display: block;
	width: 250px;
	height: auto;
	font-size: 20px;
	text-indent: 0px;
	padding: 10px;
	align-items: center;
	color: rgb(0, 0, 0);
	font-size: 22px;
	cursor: pointer;
}

.custom_button:hover {
	color: blue;
	opacity: 0.8;
	box-shadow: 0 5px 10px #000000;
}

.topics {
	margin: 20px 0px 0px 0px;
	width: 140px;
	height: 35px;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 8px #999;
	background: #eee;
	display: inline;
	cursor: pointer;
}
