
.card_biathlete {
width: 550px;
height: auto;
margin: 30px;
background: -webkit-linear-gradient(70deg, #12418d,#292727);
box-shadow: 0 5px 10px #ccc;
border-radius: 10px;
padding: 20px;
}

.containerS {
width: 115px;
height: 115px;
margin: 20px 0px 10px 135px;
border: 5px solid #000000;
border-radius: 50%;
}


.card_title_biathlete {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 27px;
transition: 0.2s linear;
width: auto;
height: auto;
border-radius: 25px;
text-align: center;
background-color: rgb(255, 255, 255, 0.7);
color: rgb(0, 0, 0);
margin: 20px auto 10px auto;
padding: 10px;
}

.card_title_biathlete:hover {
	transform: scale(1.1);
}

.h5 {
	margin-bottom: -30px;
	color: white;
	background-color: rgb(255, 255, 255, 0.7);
}

.information_biathlete {
border-radius: 25px;
background: -webkit-linear-gradient(70deg, #12418d,#292727);
width: auto;
height: auto;
padding: 1px;
margin: 30px;
text-align: center;
}

.contacts_value_biathlete {
font-size: 24px;
text-align: center;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 27px;
transition: 0.2s linear;
width: auto;
height: auto;
border-radius: 25px;
text-align: center;
background-color: rgb(255, 255, 255, 0.7);
color: rgb(0, 0, 0);
margin: auto 15px auto 15px;
padding: 10px;
}

.personal_biathlete_information {
font-size: 24px;
text-align: center;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 27px;
transition: 0.2s linear;
width: auto;
height: auto;
border-radius: 25px;
text-align: left;
background-color: rgb(255, 255, 255, 0.7);
color: rgb(0, 0, 0);
padding-left: 20px;
list-style-position: inside;
margin: -20px 15px auto 15px;
padding-bottom: 35px;
}

.contacts_information {
border-radius: 25px;
background: -webkit-linear-gradient(70deg, #12418d,#292727);
width: auto;
height: auto;
margin: 10px 0px 0px 0px;
padding: 1px;
}


.custom_button {
box-shadow: 1px 1px 3px #888888;
transition: 0.1s linear;
border-radius: 15px;
border-color: rgba(43,44,45,0.4);
margin: 10px 10px 10px 10px;
width: 510px;
height: 50px;
font-size: 20px;
text-indent: 10px;
text-align: center;
cursor: pointer;
}

.custom_button:hover {
	color: blue;
	opacity: 0.8;
	box-shadow: 0 0 6px blue;
}

.content_style {
display: flex;
}
